host                            = "1.1.1.1"
admin_username                  = "postgres"
admin_password                  = "password"
terraform_kubernetes_username   = "username"
terraform_kubernetes_password   = "password"
